.accountMenu {
  position: absolute;
  min-width: 112px;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px color-mix(in srgb, currentcolor 25%, transparent);
  visibility: hidden;
}
.accountMenu[data-open="true"] {
  visibility: visible;
}

.accountInfo {
  display: flex;
  align-items: center;
  padding: 8px;
}

.userIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  margin: 0 8px;
}

.menuItemButton {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}
