.enabled,
.done,
.overtime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-radius: 9999px;
    height: 2.5rem;
    background: var(--primary-container);
    color: var(--on-primary-container);
}

.done,
.overtime {
    opacity: 38%;
}

.enabled:hover {
    opacity: 92%;
}

.enabled:active {
    opacity: 10%;
}

.icon{
    width: 1.3rem;
    height: 1.3rem;
}

.label{
    padding-left: 0.25rem;
}