.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    gap: 0.25rem;
    border-radius: 9999px;
    height: 2.5rem;
    background: var(--primary-container);
    color: var(--on-primary-container);
}

.done,
.overtime {
    opacity: 38%;
}

.enabled:hover {
    opacity: 92%;
}

.enabled:active {
    opacity: 10%;
}

.icon {
    width: auto;
    height: auto;
}