.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 10px;
    width: 100%;
}

.times{
    text-align: right;
}

.icon {
    position: relative;
    top: 11.5%;
  }